h1{
    background-color: aqua;
}

footer{
    background-color: blueviolet;
}

h2{
    background-color: aquamarine;
}

.intereses-titulo{
    background-color: aqua;
}

.habilidades{
    grid-area: auto;
    
}

.intereses{
    grid-area: auto;
    background-color: crimson;
}

.articulo{
    grid-area: auto;
    background-color:tomato;
}

